.background {
    background-color: "#f0f0f0";
}

.right-align {
    float: right;
    margin-left: 10px;
}

.navbar {
    background-color: rgb(21, 20, 20);
}


.navbar-nav .nav-item .nav-link:active {
    color: white;
}
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-left: 10vh;
    font-size: 22px;
    margin-right: 10vh;

}

.nav-font {
    color: rgb(50, 48, 48);
}

.nav-item {
    margin-right: 25px;
    font-size: 20px;
}


@media (min-width: 992px) {
    
    .navbar-toggler {
      display: none;
    }
    .navbar-nav {
        justify-content: center;
        text-align: center;
    }
}



.name-font {
    font-size: 10px;
    color: white;
    align-items: center;
}

.center-align {
    display: flex;
    align-items: center;
}

#about {
    height: 100vh;
    background-color: rgb(37, 36, 36);
    display: flex;
    justify-content: left;
    color: white;
    padding-left: 10vh;

}

#skills {
    height: 100vh;
    background-image: linear-gradient(90deg, #336468 0%, #1a181a 100%);
        
}
#experience {
    height: 100vh;
    background-color: rgb(37, 36, 36);

}
#projects {
    height: 100vh;
    background-image: linear-gradient(90deg, #336468 0%, #1a181a 100%);
    
}

.about-me-font {
    align-items: center;
    display: flex;
    color: rgb(48, 218, 181);
    margin-bottom: 20vh;
}
.name {
    font-size: 7vh;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}