:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #191818;

}

body {
  background-color: #191818;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 10px;
  color: white;
  font-weight: 400;
  font-family: inherit;
  background-color: #0077B5;
  
  cursor: pointer;
  transition: border-color 0.25s;
}

